.header__name-of-site {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 70px;
    text-align: center;
    color: #0703AB;
    padding-bottom: 0;
}

.body, html {
    margin: 0;
    padding: 0;
    background-color: #FFD9D3;
}

.header {
    background-color: #FFD9D3;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
}

.menu {
}

.menu__list {
    padding: 20px 40px 0 40px;
    list-style: none;
    margin: 0;
    display: flex;
    gap: 30px;
}

.menu__item {
    display: inline-block;
}

.menu__link {
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #0703AB;
    font-size: 20px;
    padding: 0 16px;
}

.menu__link:hover {
    font-style: italic;
}

.menu__item__position-left {
    margin-left: auto;
    float: right;
}

.main {
    margin-top: 50px;
}

.my-paintings__image {
    background-image: url("images/tree.jpg");
}

.my-paintings__header {
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 50px;
    color: #5E7600;
}

.my-paintings__painting-item {
    height: 400px;
    width: auto;
}

.my-paintings__header__location {
    margin-left: 10px;
}

.about-me__header {
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    color: #0703AB;
    text-shadow:
            4px 4px 0 #FAFAFA,
            -4px -4px 0 #FAFAFA,
            -4px 4px 0 #FAFAFA,
            4px -4px 0 #FAFAFA;
    text-align: center;
}

.about-me__content {
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 30px;
    color: #0703AB;
    border: #0703AB solid 2px;
    border-radius: 20px;
    box-shadow: 6px 6px 16px rgba(07, 03, 171, 0.5);
    /*background-color: #FAFAFA;*/
}

.about-me__content__center {
    margin: 30px;
    padding: 10px;
    text-align: center;
}

.about-me__image {
    height: 400px;
    width: auto;
}

.artist-item {
    background-color: #0703AB;
    border-radius: 20px;
    font-family: "Kanit", sans-serif;
    color: #FFD9D3;
    padding: 20px;
    margin: 20px 20px;
}

.my-favourite-artists__header {
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 50px;
    color: #0703AB;
    text-align: center;
}

.artist-item__author-name {
    font-weight: 500;
    font-style: italic;
    font-size: 30px;
}

.artist-item__content {
    font-weight: 400;
    font-size: 20px;
}

.zabeyki__header {
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #5E7600;
    font-size: 50px;
    padding: 20px;
}

.contacts__header {
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #0703AB;
    font-style: italic;
    text-align: center;
}

.contacts__link {
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #0703AB;
    text-transform: uppercase;
    display: block;
    text-align: right;
    padding-right: 30px;
}

.contacts__image {
    height: 350px;
    width: auto;
}
